body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

.error {
	color: red;
	font-weight: bold;
}

.app {
  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #090909;
  padding: 10px 20px;
  height: 60px;
  min-height: 60px;
}

/* Left side */
.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}


.logo {
  transition: color 2s, transform 1s;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 40px;
  padding-left: 20px;
}

.logo:hover {
	transform: scale(1.1);
	color: #ffe74d;
}

.nav-links a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

/* Right side */
.nav-right {
	transition: transform 0.2s;
}

.nav-right:hover {
	transform: scale(1.05);
}

.nav-right div {
  display: flex;
  align-items: center;
  gap: 20;
}

.nav-right div .login-btn {
  padding: 6px 12px;
  cursor: pointer;
  font-weight: bold;
}

.sidebar {
	color: white;
	height: 100%; 
  	width: 30%; 
  	left: 0;
  	background-color: #111; 
  	padding-top: 20px;
}

.mainView {
	display: flex;
	gap: 20px;
	padding: 15px;
	height: 85vh;
}

.moonImg {
	height: 100%;
	width: auto;
	border-radius: 12px;
	flex-shrink: 0;
}

.moonData {
  display: flex;
  flex-direction: column;
  gap: 0px;
  flex: 1; /* take remaining space */
}

.card {
  padding: 16px;
  border-radius: 10px;
  transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
	background-color: #101010;
	transform: scale(1.1);
}

.card h1 {
	font-size: 35px;
}

.card p {
	font-size: 22px;
	font-weight: bold;
}

/* MainView Style */
.dataView {
	display: flex;
	flex: 2;
	background-color: #080808;
	border-radius: 20px;
}
.dataView div div {
	margin: 5px;
	padding: 10px;
}

.infoInput {
	flex: 1;
	background-color: #080808;
	border-radius: 20px;
	padding: 15px;
	transition: background-color 0.5s, transform 0.5s;
}

.infoInput:hover {
	background-color: #101010;
	transform: scale(1.01);
}

.infoInput form input {
	padding: 10px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border: solid 3px #111111;
	border-radius: 5px;
	margin: 5px;
	background-color: #000;
	width: 90%;
}
