body {
  margin: 0;
  background-color: white;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 10px 20px;
}

/* Left side */
.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right div {
  display: flex;
  align-items: center;
  gap: 20;
}

.logo {
  font-weight: bold;
  font-size: 30px;
}

.nav-links a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

/* Right side */
.nav-right div .login-btn {
  padding: 6px 12px;
  cursor: pointer;
}

/* Main content */
.content {
  padding: 20px;
}

.sidebar {
	color: white;
	height: 100%; 
  	width: 30%; 
  	left: 0;
  	background-color: #111; 
  	padding-top: 20px;
}

.main {
  margin-left: 160px
}
